<h1>Characters and Their Weapons</h1>

<h3>Associate a Weapon with a Character</h3>
<form name='add_character_weapon' action='/characters_weapons' method='post'>
	Character:<br>
	<select name='character_id'>
		{{#each characters}}
		<option value='{{id}}'>{{first_name}} {{last_name}}</option>
		{{/each}}
	</select><br>
	Weapon:<br>
	<select name='weapon_id'>
		{{#each weapons}}
		<option value='{{id}}'>{{name}}</option>
		{{/each}}
	</select>
	<br>
	<input type='submit' id='character_weapon_submit' value='Add Character/Weapon Combo'>
</form>
<br>
<h3>Search Weapons for Character</h3>
<form name='search_character_with_weapons' action='characters_weapons/search_character_with_weapons' method='post'>
	<select name='character_id'>
		{{#each characters_with_weapons}}
		<option value='{{character_id}}'>{{char_name}}</option>
		{{/each}}
	</select><br>
	<input type='submit' value='Search Character's List'>
</form>
<br>
<h3>Current Character/Weapon Combinations</h3>
<table>
	<thead>
		<th>Character Name</tr>
		<th>Weapon Name</th>
		<th>Power</th>
	</thead>
	<tbody>
		{{#each characters_with_weapons}}
		<tr>
			<td>{{char_name}}</td>
			<td>{{weapon_name}}</td>
			<td>{{power}}</td>
			<td><button onclick='deleteCharacterWithWeapon({{character_id}}, {{weapon_id}})''>Delete</button></td>
			<td><a href="characters_weapons/{{character_id}}/{{weapon_id}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>