<h1>LOTR Places</h1>
<h3>Add New Place</h3>
<form name='add_place' action='/places' method='post'>
	Name:<br>
	<input type='text' name='name'><br>
	<input type='submit' id='place_submit' value='Add Place'>
</form>
<br>

<!-- TODO update with backend to add place in place relationship -->
<h3>Add Place Located In Place Relationship</h3>
<form name='add_place_locacted_in' action='places/place_located_in' method='post'>
	Place:<br>
	<select name='child_place_id'>
		{{#each places}}
		<option value='{{id}}'>{{name}}</option>
		{{/each}}
	</select><br>
	Located In:<br>
	<select name='parent_place_id'>
		{{#each places}}
		<option value='{{id}}'>{{name}}</option>
		{{/each}}
	</select>
	<br>
	<input type='submit' value='Add Place Located In'>
</form>

<h3>Current Places</h3>
<table>
	<thead>
		<th>Name</th>
		<th>Located In</th>
	</thead>
	<tbody>
		{{#each places}}
		<tr>
			<td>{{name}}</td>
			<td>{{located_in}}</td>
			<td><button onclick='deletePlace({{id}})'>Delete</button></td>
			{{#if located_in}}
				<td><button onclick='deletePlaceLocatedIn({{child_place_id}}, {{parent_place_id}})'>Delete 'Located In'</button></td>
			{{else}}
				<td></td>
			{{/if}}
			<td><a href='/places/{{id}}'>Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>